body {
  background-color: #121315;
}

.App {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background-header {
  background-image: url("../resources/bg-cafe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.container {
  border-radius: 10px;
  background-color: #1b1d1f;
  color: #fef7ee;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.information-container {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & p {
    width: 450px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 25px;
    color: #6f757c;
  }
}

button {
  border-style: none;
  border-radius: 10px;
  background-color: #1b1d1f;
  width: 120px;
  height: 40px;
  color: #fef7ee;
  border-style: none;
  margin-right: 25px;
  cursor: pointer;

  &.active {
    border-style: none;
    border-radius: 10px;
    background-color: #4d5562;
    width: 120px;
    height: 40px;
  }
}

.coffee-listing-container {
  padding: 10px;

  & .coffee-image img {
    width: 250px;
    height: 150px;
    background-color: #fef7ee;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  & .coffe-price {
    height: 15px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  & .qualification {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

    & a {
      font-size: 15px;
      color: #6f757c;
    }
  }
}

.popular-container {
  width: 80px;
  height: 25px;
  border-radius: 10px;
  background-color: #f6c768;
  margin-top: 10px;
  margin-left: 10px;
}

.popular-icon {
  position: absolute;
}

.popular {
  color: #121315;
  border-radius: 10px;
  height: 10px;
  width: 100px;
}

.price {
  color: #1c1d1f;
  width: 55px;
  height: 25px;
  border-style: none;
  background-color: #bee3cc;
  border-radius: 5px;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.state {
  color: #ed735d;
  font-size: 16px;
}

.coffee-grid-container {
  display: inline-block;
}

.coffee-grid {
  margin-top: 20px;
  display: grid;
  align-items: end;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1px;
  padding: 0 50px 50px 50px;
}

/* Ajuste para pantallas medianas (tablets) */
@media (max-width: 992px) {
  .coffee-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 30px 30px 30px;
  }
}

/* Ajuste para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .coffee-grid {
    grid-template-columns: 1fr;
    padding: 0 20px 20px 20px;
  }

  .container {
    top: 20%;
    left: auto;
    transform: none;
  }

  .information-container p {
    width: auto;
    padding: 10px 45px 10px 45px;
  }
}
